MAIL_USERNAME=e@mail.pp
MAIL_PASSWORD="pass word pass word"

# PostgreSQL
POSTGRES_USER=parking_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=parking_db

# Frontend configuration
VITE_API_URL=http://localhost:8080/api